/* src/styles/sweetalert.css */
.swal-custom-popup {
  padding: 20px;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
  overflow: hidden;
}

.swal-custom-title {
  font-size: 18px;
}

.swal-custom-html-container {
  font-size: 14px;
  white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
}
